/* @import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap'); */
:root{
    --color-theme:#f39;
}
*{ margin:0; padding:0; }* 
body{
    background-image: url(../src/img/bg.gif);
    padding:0; 
    margin:0; 
    font:0.69em \5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4,sans-serif; 
    font-size: 0.69em;
    line-height: 1.64em;
}

.container{
    border: black solid 1px ;
    margin: 0px auto;
    padding: 0px;
    background-color: #fff;
}

.top{
    height: 42px;
    width: 100%;
    background: #333333;
}

#menu {
    float:right; 
    height:23px; 
    margin:8px 8px 0 0;
}

#menu a {
    display:block; 
    color:#999; 
    background:inherit; 
    text-decoration:none; 
    margin-right:4px;
    line-height:23px;
    font-weight:bold;
}

#menu a:hover {
    color: var(--color-theme); 
    background:inherit;
}

#menu ul {
    list-style:none; 
    padding:0; 
    margin:0;
}

#menu li {
    float:left; 
    margin: 
    0 0 0 5px; 
}

header{
    border: black solid 1px ;
    background-image: url(../src/img/header_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.number{
    background-color: #fff;
    font-size: 20px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    /* margin-top: 240px;
    margin-left: 76px; */
}

.box1{
    /* border: black solid 1px ; */
    background: rgba(0,0,0,0.54);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5px;
    /* margin-top: -30px;
    margin-right: 80px; */
}

.qrcode{
    /* border: black solid 1px ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.link {
    /* border: black solid 1px ; */
    border-right: solid #f39 2px;
}

.box2{
    /* border: black solid 1px ; */
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bigtital{
    /* margin: 10px 0; */
    border-left: 4px solid var(--color-theme);
    padding-left: 8px;
    font-size: 2.5em;
    line-height: 28px;
    color: #000;
    margin-bottom: 20px;
}

.bigSort{
    border-bottom: solid  var(--color-theme) 2px;
    width: auto;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 1em 0;
    /* line-height: 54px; */
}

.unit{
    background: var(--color-theme);
    color: #fff;
    font-size: 1.5em;
    padding: 0.3em 0;
}

.topic{
    display: flex;
    line-height: 2em;
    margin: 1em 0;
}

.sort{
    color: var(--color-theme);
}

.sort1{
    background-color: var(--color-theme);
    color: #fff;
    border-radius: 0.3em;
    padding: 0 0.3em;
    margin: 0 0.5em;
    /* padding: 2px 10px; */
}

.card{
    display: flex;
    flex-direction: column;
}

.card-header{
    display: flex;
    flex-direction: row;
}

/* @media screen and (max-width:768px){
    .wv-1000{
        width: 300px;
    }
} */

.hv-10{ height: 50vh;}
.hz-60{height: 60px;}
.hz-70{height: 70px;}
.hz-90{height: 90px;}
.hz-115{height: 115px;}
.hz-290{ height: 340px;}
.wz-130{width: 130px;}
.wz-450{width: 450px;}
.wz-1000{ width: 1000px; }

